<!--<div class="header">
	<div class="header__logo">
		<img src="images/logo-no-lettering.png" alt="cuac-logo" class="header__logo-img">
		<p class="header__title">Cambridge University Athletics Club</p>
	</div>
	<div class="header__menu">
		<a href="">Teams & Squads</a>
		<a href="">Info for Members</a>
		<a href="">Calendar</a>
		<a href="">Join</a>
		<a href="">Keeping Up with CUAC</a>
		<a href="">Alumni</a>
		<a href="">Sponsorship</a>


	</div>


</div>-->
<a class="header__logo" href="http://localhost:3000/index.html"></a>
<div class="nav-overlay">

    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="close-btn" onclick="closeNav()">&times;</a>

    <!-- Overlay content -->
    <div class="nav-overlay__content">
        <a href="http://localhost:3000" class="color-hover menu-link">Home</a>
        <a href="http://localhost:3000/teams-and-squads/" class="color-hover menu-link">Teams & Squads</a>
        <a href="http://localhost:3000/info-for-members/" class="color-hover menu-link">Info for Members</a>
        <a href="http://localhost:3000/join.html" class="color-hover menu-link">Join</a>
        <a href="http://localhost:3000/alumni.html" class="color-hover menu-link">Alumni</a>
        <a href="http://localhost:3000/keeping-up-with-cuac.html" class="color-hover menu-link">Keeping up with CUAC</a>
        <a href="http://localhost:3000/calendar.html" class="color-hover menu-link">Calendar</a>
        <a href="http://localhost:3000/history.html" class="color-hover menu-link">History</a>
        <a href="http://localhost:3000/sponsorship.html" class="color-hover menu-link">Sponsorship</a>
    </div>

</div>

<!-- Use any element to open/show the overlay navigation menu -->
<div class="menu-btn" onclick="openNav()">&#9776</div>
