<html>
<head>
    @@include('../basic-layout.html')


</head>
<body>

    @@include('../../components/header/_header.html')

    <div class="section-full">
        <div class="row">
            <h1 class="section-full-heading">Our team</h1>
            <p class="font-dosis-heavy">CUAC is special, and that means our team is special too.<br />Go on and scroll down (or filter) to find out more about them.</p>
            <div class="section-full__links">
                <p onclick="filterAll()">All</p>
                <p onclick="filterCommittee()">Committee</p>
                <p onclick="filterSquadL()" >Squad Leaders</p>
                <p onclick="filterCoaches()">Coaches</p>

            </div>
        </div>
    </div>
    <div class="team-members bkg-off-white">
        @@include('../../components/team-card/_team-card.html', {
            "member-img": "../images/lea-holiday.jpg",
            "member-name": "Daisy Irving-Hyman",
            "member-role": "President",
            "member-info": "A srsrser",
            "member-contact": "dei23", 
            "category": "committee"            
        })    
        @@include('../../components/team-card/_team-card.html', {
            "member-img": "../images/lea-holiday.jpg",
            "member-name": "Amrita Panesar",
            "member-role": "Honorary Secretary/Sprints Squad leader",
            "category": "squadL committee"
        })
        @@include('../../components/team-card/_team-card.html', {
        "member-img": "../images/lea-holiday.jpg",
        "member-name": "James Coxon",
        "member-role": "Mens' Captain",
        "category": "committee"
        })
        @@include('../../components/team-card/_team-card.html', {
        "member-img": "../images/lea-holiday.jpg",
        "member-name": "Hephzibah 'Hepsi' Adeosun",
        "member-role": "Womens' Captain",
        "category": "committee"
        })
        @@include('../../components/team-card/_team-card.html', {
        "member-img": "../images/lea-holiday.jpg",
        "member-name": "Tom Goulding",
        "member-role": "Alverstones' Captain",
        "category": "committee"
        })
        @@include('../../components/team-card/_team-card.html', {
        "member-img": "../images/lea-holiday.jpg",
        "member-name": "Lea Holville",
        "member-role": "Alligators' Captain (joint)",
        "category": "committee squadL"
        })
        @@include('../../components/team-card/_team-card.html', {
        "member-img": "../images/tiwa-abroad.jpg",
        "member-name": "Tiwa Adebayo",
        "member-role": "Alligators' Captain (joint)",
        "category": "committee"
        })
        @@include('../../components/team-card/_team-card.html', {
        "member-img": "../images/steph.jpg",
        "member-name": "Stephanie Sinclair",
        "member-role": "Alumni & Sponsorship Secretary",
        "category": "committee"
        })
        @@include('../../components/team-card/_team-card.html', {
        "member-img": "../images/lea-holiday.jpg",
        "member-name": "Lawrence Hopkins",
        "member-role": "Publicity Secretary",
        "category": "committee"
        })
        @@include('../../components/team-card/_team-card.html', {
        "member-img": "../images/lea-holiday.jpg",
        "member-name": "Caroline Johnson",
        "member-role": "Junior Treasurer",
        "category": "committee"
        })
        @@include('../../components/team-card/_team-card.html', {
        "member-img": "../images/lea-holiday.jpg",
        "member-name": "Emmaline Okafor",
        "member-role": "Kit Secretary",
        "category": "committee"
        })
        @@include('../../components/team-card/_team-card.html', {
        "member-img": "../images/lea-holiday.jpg",
        "member-name": "Ellie Lane",
        "member-role": "Officials' Secretary",
        "category": "committee"
        })
    </div>

    @@include('../../components/footer/_footer.html', {"footer-fact": "cuac is the oldest athletics club in the world"})

</body>
</html>