<a class="header__logo" href="{{siteUrl}}index.html"></a>
<div class="nav-overlay">

    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="close-btn" onclick="closeNav()">&times;</a>

    <!-- Overlay content -->
    <div class="nav-overlay__content">
        <a href="{{ siteUrl }}" class="color-hover menu-link">Home</a>
        <a href="{{ siteUrl }}teams-and-squads/" class="color-hover menu-link">Teams & Squads</a>
        <a href="{{ siteUrl }}info-for-members/" class="color-hover menu-link">Info for Members</a>
        <a href="{{ siteUrl }}join.html" class="color-hover menu-link">Join</a>
        <a href="{{ siteUrl }}alumni.html" class="color-hover menu-link">Alumni</a>
        <a href="{{ siteUrl }}keeping-up-with-cuac.html" class="color-hover menu-link">Keeping up with CUAC</a>
        <a href="{{ siteUrl }}calendar.html" class="color-hover menu-link">Calendar</a>
        <a href="{{ siteUrl }}history.html" class="color-hover menu-link">History</a>
        <a href="{{ siteUrl }}sponsorship.html" class="color-hover menu-link">Sponsorship</a>
    </div>

</div>

<!-- Use any element to open/show the overlay navigation menu -->
<div class="menu-btn" id="menu-btn" onclick="openNav()">&#9776</div>
