.section-full {
    padding: rem-calc(70 120);
}
.section-full, .section-half {
    text-align: center;

    @media #{$small-only} {
        padding: rem-calc(110 30);
    }

    .font-dosis-heavy {
        font-weight: 800;
        font-family: 'Dosis', sans-serif;
    }

    .font-slanted {
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
    }

    p {
        //font-family: 'Mukta Mahee', sans-serif;
        @media #{$small-only} {
            font-size: rem-calc(12px);
        }

        @media #{$medium-up} {
            font-size: rem-calc(16px);
        }

        &.-last-line {
            margin-bottom: rem-calc(10px);
        }

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }

        &.-remove-margin-bottom{
            margin-bottom: 0;
        }
    }
}

.bkg-black {
    background-color: $color-black;
    color: $color-white;
    font-size: rem-calc(20px);
    font-family: 'Mukta Mahee', sans-serif;

    h1, h2, h3, h4, h5 {
        color: $color-white;
    }
}

.bkg-off-white {
    background-color: #f9f9f9;
    font-family: 'Mukta Mahee', sans-serif;
    font-size: rem-calc(20px);
}

.bkg-grey {
    background-color: $color-dark-grey;
    font-family: 'Source Sans Pro', sans-serif;
    color: $color-white;
    h1, h2, h3, h4, h5{
        color: $color-white;
    }
}

.bkg-blue-grey {
    background-color: $color-dark-blue-grey;
    color: $color-white;
    font-size: rem-calc(20px);
    font-family: 'Mukta Mahee', sans-serif;

    h1, h2, h3, h4, h5 {
        color: $color-white;
    }

    a, a:hover {
        color: $color-light-teal;
    }
}

.bkg-white {
    background-color: $color-white;
    font-family: 'Mukta Mahee', sans-serif;
    font-size: rem-calc(20px);
}

.bkg-light-teal {
    background-color: #a2e8dd;
    font-family: 'Mukta Mahee', sans-serif;
    font-size: rem-calc(20px);

}

.section-full p {
    //font-family: 'Mukta Mahee', sans-serif;
    font-size: rem-calc(16px);
}

.section-full-heading {
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

.section-full__links > p, .section-full__links > a {
    padding-right: rem-calc(10px);
    font-style: italic;
    font-family: 'Ubuntu', sans-serif;
    display: inline;
    color: $color-grey;
    font-size: rem-calc(18px);
    &:hover{
        cursor: pointer;
        opacity: 0.8;
    }
}

.section-half-w {
    height: 100%;
    display: block;
    overflow: hidden;
}
.section-half {
    &:before {
        content: '';
        float: left;
        padding-bottom: 100%;
    }

    &:after {
        content: '';
        display: table;
        clear: both;
    }

    width: 50%;
    padding: rem-calc(100 100);
    display: inline-block;
    float: left;
    overflow: hidden;

    @media #{$small-only, $medium-only} {
        width: 100%;
        display: block;
    }

    a {
        margin-bottom: rem-calc(40px);
        margin-top: rem-calc(10px);
    }
}
.section-img {
    //min-height: rem-calc(600px);
    //height: rem-calc(600px);
    padding: 0 0 100% 0;
    overflow: hidden;
    position: relative;
    height: auto;
    width: 50%;
    display: inline-block;

    img {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        will-change: opacity;

        &:hover {
            opacity: 0.5;
        }
    }

    @media #{$small-only, $medium-only} {
        width: 100%;
        display: block;
    }
}

.section-top {
    margin-top: 100px;
}

.section-bottom {
    margin-bottom: 100px;
}






