$color-cuac: #A3C1AD;
$color-dark-grey: #37474F;
$color-blue-grey: #607D8B;
$color-grey: #888;
$color-off-white: #FAFAFA ;
$color-dark-blue-grey: #263238;
$color-grey-white: #ECEFF1;
$color-black: #212121;
$color-teal: #00BFA5;
$color-medium-teal: #1DE9B6;
$color-lighter-teal: #64FFDA;
$color-light-teal: #A7FFEB;
$color-light-mint: #69F0AE;
$color-white: #FFFFFF;
$color-pink-red: #FF1744;
$color-accent-purple: #651FFF;
$color-purple: #7e57c2;


$uniform-padding: 1.1rem;
$font-links: 'Hind', sans-serif;

