@charset "UTF-8";

@import '_imports.scss';

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url('https://fonts.googleapis.com/css?family=Courgette|=Mukta+Mahee|Dosis:400,800|Hind:700|Josefin+Sans:400i|Josefin+Slab:400i|Merriweather:400i|Passion+One|Source+Sans+Pro:400,700|Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee|Roboto');
/*
font-family: 'Dosis', sans-serif;
font-family: 'Hind', sans-serif; used
font-family: 'Josefin Sans', sans-serif;
font-family: 'Josefin Slab', serif;
font-family: 'Passion One', cursive;
font-family: 'Source Sans Pro', sans-serif; - used for dark-grey sections
font-family: 'Ubuntu', sans-serif; used
font-family: 'Merriweather', serif used
;
    font-family: 'Mukta Mahee', sans-serif; - used for main text on home page


*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Vollkorn');
// font-family: 'Dosis', sans-serif; - try for blog 
// font-family: 'Roboto Mono', monospace;
// font-family: 'Vollkorn', serif;



@import 'components/header/__header.scss';
@import 'components/header__push-down/__header__push-down.scss';
@import 'components/footer/__footer.scss';
@import 'components/team-card/__team-card.scss';
@import 'components/social-media-bar/__social-media-bar.scss';
@import 'components/section/__section.scss';
@import 'components/card/__card.scss';
@import '_join.scss';
@import '_calendar.scss';
@import 'components/info-for-members/__info-for-members.scss';
@import '_keeping-up-with-cuac.scss';

@import 'buttons.scss';



.color-hover {
    cursor: pointer;
}

a {
    color: $color-grey;

}

.a-cuac {
    color: $color-cuac;
}



a:hover {
    opacity: 0.8;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -o-transform: scale(1.2);
    -moz-transition: color .2s ease-in;
    -o-transition: color .2s ease-in;
    -webkit-transition: color .2s ease-in;
    color: $color-grey;
}

.hover-cuac {
    color: $color-white;
    &:hover {
        color: $color-cuac;
        cursor: pointer;
    }
}



.color-bkg-hover:hover {
    color: white;
    -moz-transition: color .1s ease-in;
    -o-transition: color .1s ease-in;
    -webkit-transition: color .1s ease-in;
    cursor: pointer;

}

.color-bkg-hover {
    -moz-transition: color .6s ease-out;
    -o-transition: color .6s ease-out;
    -webkit-transition: color .6s ease-out;
}

h1, h2, h3, h4, h5 {
    font-family: 'Hind', sans-serif;
    text-transform: uppercase;
    margin-bottom: rem-calc(30px);
    text-align: center;
}

.-justify {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

.-block {
    display: block;
}

:before, :after {
    box-sizing: border-box;
    outline: 0;
}

// need to move into info-for-members/side-nav
.side-nav {
    text-align: right;
    background-color: #A3C1AD;
    width: 30%;
    float: right;
    margin-left: 70%;
    margin-bottom: 100%;
}

.side-nav li a {
    color: $color-cuac;
}

.side-nav a:hover {
    opacity: 1;
    transform: scale(1);
}

.side-nav__a {
    color: $color-white;
}

.hide-for-small-only {
    @media #{$small-only} {
        display: none;
    }
}

.--text-center {
    text-align: center;
}

.-mt20 {
    margin-top: 20px;
}

.-mt40 {
    margin-top: 40px;
}