{% set positionsClass = "" %}
{% for position in positions %}
    {% set positionsClass = positionsClass ~ " " ~ position.value %}
{% endfor %}

{% set rolesStr = "" %}

{% for role in roles %}
    {% if loop.last and loop.first %}
        {% set rolesStr = role.label %}
    {% else %}
        {% set rolesStr = loop.first ? (rolesStr ~ role.label) : (rolesStr ~ "/" ~ role.label) %}
    {% endif %}
{% endfor %}    

<div class="team-card{{ positionsClass }}" onmouseenter="colorBkgHover(this, event)" onmouseleave="colorBkgRemove(this, event)" data-equalizer onclick="toggleOverlay(this)">
    <div class="team-card__content">
        <div class="team-card__img-w" >
            <img class="team-card__img" src="{{ image.getUrl() is defined ? image.getUrl() : siteUrl ~ 'images/vfear-team.jpg' }}">
        </div>
        <div class="team-card__intro color-bkg-hover" id="team-card__intro" data-equalizer-watch>
            <p class="team-card__name">{{ name }}</p>
            <p class="team-card__role">{{ rolesStr }}</p>
            <p class="team-card__role">{{ email }}@cam.ac.uk</p>
        </div>
        <div class="team-card__overlay">
            <div class="team-card__overlay__content">
                {# <p class="team-card__overlay__title">Bio</p> #}
                <p class="team-card__overlay__fact">{{ bio|length ? bio : "My bio is coming very shortly...stay tuned!" }}</p>
                {# <p class="team-card__overlay__fact">{{ fact }}</p> #}
                {#<p class="team-card__overlay__title">Way to contact</p> #}
                {# <p>{{ email }}</p> #}
            </div>
        </div>
    </div>
</div>