<html>
<head>
    @@include('../basic-layout.html')


</head>
<body>

@@include('../../components/header/_header.html', {"logo-is-white": true})
<div class="info-for-members">
    <div class="info-for-members__left">
        <h1>Information for members</h1>
    </div>
    <div class="info-for-members__right">O
        <div class="info-for-members__strip">

        </div>
        <div class="info-for-members__inner">
            <div class="info-for-members__menu-item">
                <div class="menu-item__no">
                    <span>01</span>
                </div>
                <div class="menu-item__title">
                </div>
            </div>
            <div class="info-for-members__menu-item">
                <div class="menu-item__no">
                    <span>02</span>
                </div>
                <div class="menu-item__title">
                </div>
            </div>
            <div class="info-for-members__menu-item">
                <div class="menu-item__no">
                    <span>03</span>
                </div>
                <div class="menu-item__title">
                </div>
            </div>
            <div class="info-for-members__menu-item">
                <div class="menu-item__no">
                    <span>04</span>
                </div>
                <div class="menu-item__title">
                </div>
            </div>
            <div class="info-for-members__menu-item">
                <div class="menu-item__no">
                    <span>05</span>
                </div>
                <div class="menu-item__title">
                </div>
            </div>
            <div class="info-for-members__menu-item">
                <div class="menu-item__no">
                    <span>06</span>
                </div>
                <div class="menu-item__title">
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>
