<html>
<head>
    @@include('../basic-layout.html')


</head>
<body>

    @@include('../../components/header/_header.html')

    <div class="section-full bkg-white">
        <div class="row">
            <h1 class="section-full-heading">Information for Members</h1>
            <p>Here you'll find lots of useful information if you are a member of the CUAC family, from details about training times and competitions to training and injury prevention/recovery advice.</p>
            <div class="section-full__links">
                <a href="localhost:3000/teams-and-squads">Teams & Squads</a>
                <a>Training times</a>
                <a>Competitions</a>
                <br />
                <a>Whatsapp/facebook group invites/sign up for mailing lists</a>
                <a>Social Events</a>
                <br />
                <a>Membership info</a>
                <a>Code of Conduct</a>
                <a>Physiotherapy & Sports Massages</a>
                <br />
                <a>Past results and statistics</a> 
                <a>Blues Standards</a>
                <a>Useful documents</a>
            </div>

        </div>
    </div>
    <!--
    <ul class="side-nav">
        <li><a href="localhost:3000/teams-and-squads" class="side-nav__a color-hover">Teams & Squads</a></li>
        <li><a href="#" class="side-nav__a color-hover">Training times</a></li>
        <li><a href="#" class="side-nav__a color-hover">Competitions</a></li>
        <li><a href="#" class="side-nav__a color-hover">Join the whatsapp/facebook groups/<br />sign up for mailing lists</a></li>
        <li><a href="#" class="side-nav__a color-hover">Social Events</a></li>
        <li><a href="#" class="side-nav__a color-hover">Membership info</a></li>
        <li><a href="#" class="side-nav__a color-hover">Code of Conduct</a></li>
        <li><a href="#" class="side-nav__a color-hover">Physiotherapy & Sports Massages</a></li>
        <li><a href="#" class="side-nav__a color-hover">Past results and statistics</a></li>
        <li><a href="#" class="side-nav__a color-hover">Blues Standards</a></li>
        <li><a href="#" class="side-nav__a color-hover">Useful documents</a></li>
    </ul>-->

    <div class="info-cards">
        @@include('../../components/card/_card.html', {"card-title": "Constitution", "card-subtitle": "Download the file here", "card-image": "../images/lea-holiday.jpg"})
    </div>


    @@include('../../components/footer/_footer.html', {"footer-fact": "cuac is the oldest athletics club in the world"})

</body>
</html>
