<div class="bar row">
    <div class="bar__expand columns bkg-color-hover bkg-color-click reset-cuac" onclick="expandBar(this, event) ">
        <i class="fi-thumbnails"></i>
    </div>
    <div class="bar__insta bar__social columns">
        <i class="fi-social-instagram color-hover reset-black"></i>
    </div>
    <div class="bar__fb bar__social columns">
        <i class="fi-social-facebook color-hover reset-black"></i>
    </div>
    <div class="bar__twitter bar__social columns">
        <i class="fi-social-twitter color-hover reset-black"></i>
    </div>
    <div class="bar__youtube bar__social columns">
        <i class="fi-social-youtube color-hover reset-black"></i>
    </div>
    
</div>