<html>
<head>
    @@include('basic-layout.html')


</head>
<body>

    @@include('../components/header/_header.html')

    <div class="section-full">
        <div class="row">
            <h1 class="section-full-heading">Attention Alumni!</h1>
            <p>CUAC wouldn't be where we are today if it wasn't for our brilliant alumni.<br />We love what you do for us - both on and off the track, and we'd love to see you more.</p>
            <p>If you haven't done so already, sign up as an alumni via the form below so that we can stay in touch with you and invite you to cool things like our Annual Alverstones' Cocktails Event, Achilles meetings <a href="">(what is Achilles?)</a>, and of course our Varsity events.</p>        
        </div>
    </div>
    

    @@include('../components/footer/_footer.html', {"footer-fact": "cuac is the oldest athletics club in the world"})

</body>
</html>