<html>
<head>
    @@include('basic-layout.html')


</head>
<body>

    @@include('../components/header/_header.html')

    <div class="section-full bkg-white">
        <div class="row">
            <h1 class="section-full-heading">Join</h1>
            <p>If you're interested in joining CUAC, we'd love to meet you! Come along to any one of our taster sessions in the first few weeks of term, and be sure to meet us at Fresher's fair (we'll be the one in the infamous Cambridge Blue kit with the wreaths on waving our banners proudly in the air!) or at one of our fresher socials.</p>
            <div class="section-full__links">
                <a href="#prospective-section">
                    Prospective Students
                </a>
                <a href="#current-students">
                    Current Students
                </a><br />
                <a href="#current-students" >
                    Already do another sport at Cambridge?
                </a>
            </div>
            <!--More details about dates and times to come very soon, but in the meantime if you're interested, be sure to follow us on Instagram and Twitter, and like our Facebook page as well to hear about them first! Of course, we'd love to hear from you - contact one of the members of our committee or a squad leader if you want more information or have any questions.-->

        </div>
    </div>
    <div class="section-half-w">
        <div class="section-half bkg-black">
            
            <h3>I want to try out the training.</h3>
            <p>You can find our training diary <a href="" class="a-cuac">here</a>. Just pop along to any session in your sports kit and we promise you'll never look back! We're pretty relaxed about letting new athletes try out the sport thoroughly before you make a decision whether to stay with us - we know athletics is a new sport, or one that has not been experienced to its full potential for many. We want you to try out training for whichever events you're interested in and be convinced you like it before becoming one of us.</p>
            <p>To keep updated with our training schedule by email, go ahead and register your details below. If you let us know what event(s) you're interested in, we can also add you to our Whatsapp groups to allow you to stay up to date about upcoming training sessions, events and competitions.</p>
            <a class="typeform-share link" href="https://cuac.typeform.com/to/VV0Xea" data-mode="popup" style="color:#99cbab;text-decoration:underline;font-size:18px;" data-hide-headers=true data-hide-footer=true target="_blank">Register your details to receive your invitation to our Whatsapp groups and mailing lists.</a>
            <script> (function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm_share", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })() </script>
        </div>
        <div class="section-half" style="background: url(images/cuac-funny-faded.jpg) center/cover">
            
        </div>
    </div>
    <div class="section-full bkg-off-white" id="current-students">
        <h3>Current Students</h3>
        <p>We are always looking for new members to join the CUAC family. If you're interested in trying out athletics, we'd love to meet you!  Come along to any of our taster sessions in the first few weeks of term (link to calendar on that text), and be sure to meet us at the Fresher's fair. Your college will also have a college rep whom you can get in contact with if you want a familiar face to talk to about joining athletics.</p>
        <p class="font-dosis-heavy">Already do another sport at Cambridge?</p>
        <p>Text about how CUAC welcomes athletes from other sports with welcome arms, blah blah blah.... sf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdfksfsknefkslnfkslnd fsdlkfn sdklf nsdklf nsdklf nsdkfn sdklf nsdklfn sdlkfn sdlfkn dslfn dlfkn sdlfkn sdlkf n</p>
        <p>Text about how CUAC welcomes athletes from other sports with welcome arms, blah blah blah.... sf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdfksfsknefkslnfkslnd fsdlkfn sdklf nsdklf nsdklf nsdkfn sdklf nsdklfn sdlkfn sdlfkn dslfn dlfkn sdlfkn sdlkf n</p>
        <p>Text about how CUAC welcomes athletes from other sports with welcome arms, blah blah blah.... sf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdfksfsknefkslnfkslnd fsdlkfn sdklf nsdklf nsdklf nsdkfn sdklf nsdklfn sdlkfn sdlfkn dslfn dlfkn sdlfkn sdlkf n</p>

    </div>

    <div class="section-full bkg-light-teal" id="prospective-students">
        <h3>Prospective Students</h3>
        <p>If you are thinking of applying to Cambridge and would like to know more about CUAC, please fill in the form below. As the 3rd largest sports club in Cambridge, we have athletes from a wide range of colleges and subjects, so we can easily put you in touch with a <strong>subject buddy</strong> (namely, someone studying the same subject as the one you want to study at Cambridge) and/or a <strong>college buddy</strong> (someone at the college you want to apply to). We hope that you will find it useful to speak to someone within CUAC who has a similar application history as you to learn more about the application process and what athletics is really like at Cambridge.</p>
        <div class="section-full__links">
            <a>Talk to a CUAC athlete</a>
            <a href="#prospective__faqs">Frequently Asked Questions</a>
          

        </div>
    </div> 
    <div class="section-half-w">
        <div class="section-half bkg-blue-grey">

            <h3>Our Training</h3>
            <p class="-remove-margin-bottom">Here at CUAC, we split our training groups into 'squads' based on discipline. Take a look at the squad pages to find out more about how each squad works, what the training's like, and how you can get in contact with a squad leader to find out more about a specific event you're interested in training for.</p>
            <a class="-block">Meet the squads</a>   

            <p class="">On our Teams & Squads page, you can also find out more information about our committee and coaches, including their background in athletics and their interests. Without them, our club would not be where it is today.</p>
            <a class="">Meet the committee</a>
            <br />
            <a class="">Meet the coaches</a>
            

        </div>
        <div class="section-half" style="background: url(images/sprints-squad.jpg) center/cover">

        </div>
        
    </div>
    <div class="section-full bkg-black" id="prospective__faqs">
        <h4 class="prospective-s__title">Things I wished I knew before I came to Cambridge - from an athlete's perspective</h4>
        <div class="prospective-s__qn">
            <p class="prospective-s__qn__title">What's the best college to apply to if I want to do athletics?</p>
            <p>Any of them! Pretty much all colleges have athletes from CUAC, and since the way we train and compete in athletics is mainly on a university-wide level (as opposed to rowing, for example, where most athletes will train with their college team and coaches and compete against other colleges), which college you go to really doesn't matter. Maybe it might be worth considering a more central college to be quite close to the track at Wilberforce Road (first year accommodation at Clare for example is only a five minute cycle away) - but then again, in recent years we've had a high turnout of athletes from the colleges further out. Who knows, maybe the slightly longer cycle ride builds better athletes? Irregardless of which college you choose, you will be massively involved in the club and get to know athletes really easily from other colleges because of the fact that we do operate on a university-wide level, so choose whichever college you like! </p>
        </div>
        <div class="prospective-s__qn">
            <p class="prospective-s__qn__title">
                But aren't there some colleges that are more likely to accept me, and are there some colleges that look more highly upon sports than others in the application process?
            </p>
            <p>From experience, we would say that its not worth second guessing which college to apply for based on which one is more likely to accept you (both in terms of admissions statistics and in terms of extracurricular preferences). Just be yourself, and yes, let the fact that you are interested in sport shine through in your application, but don't worry too much about which college has a 'sportier' reputation or is better for your subject. Do get in touch, however, if you'd like to find out more about what a particular college is like as we can easily and very quickly put you in contact with an athlete that currently goes to that college so that you can get an insider's perspective on studying there.</p>
        </div>
        <div class="prospective-s__qn">
            <p class="prospective-s__qn__title">
                I currently do athletics at X. How would it work me being a part of both clubs?
            </p>
            <p>
                Great question. You could keep your home club as your first-claim club, and CUAC as your second-claim and compete and train with both. You wouldn't have to pay the England Athletics fee again since you would have already paid it with your home club. You would have to pay our membership fee though, but that gets you access to high-quality coaching, our amazing facilities at the track at Wilberforce road as well as strength & conditioning facilities at the University Sports Centre, and also travel to major competitions throughout the year.
            </p>
        </div>
        <div class="prospective-s__qn">
            <p class="prospective-s__qn__title">
                Can you give me advice on my application?
            </p>
            <p>
                Whilst we cannot offer formal advice on the application process, the university website has lots of useful information about applying to Cambridge. If you have any questions or would like further insight into the information they make publicly available from a current student's perspective, feel free to get in touch with us. We would be more than happy to share with you our own experiences, but of course please note that we can only offer advice relative to what we have seen and heard and are not able to offer formal interview training/preparation.             </p>
        </div>
        <div class="prospective-s__qn">
            <p class="prospective-s__qn__title">
                What if I want to do multiple sports during my time at Cambridge?
            </p>
            <p>
                As athletics is such an excellent sport for developing the foundational strength, speed and skill needed for almost any other sport, CUAC have several members who participate in multiple sports across the university. If playing sport at Cambridge sounds like something you'd be interested in, and you'd like to find out more about the university wide facilities and sports available, have a look at the Sport @ Cambridge website.            </p>
        </div>
    </div>
    <div class="section-full bkg-off-white">
        <h5>Useful Links for those thinking of applying to Cambridge</h5>
        <div class="section-full__links">
            <a href="">University website</a>
            <br />
            <a href="">CUSU Website (Cambridge University Student Union)</a>
            <br />
            <a href="">University Sports Website</a>
            <br />
            <a href=""></a>

        </div>
    </div>

    @@include('../components/footer/_footer.html', {"footer-fact": "cuac is the oldest athletics club in the world"})

</body>
</html>
