<html>
<head>
    @@include('basic-layout.html')


</head>
<body>

    @@include('../components/header/_header.html')

    <div class="section-full">
        <div class="row">
            <h1 class="section-full-heading">Join</h1>
            <p>If you're interested in joining CUAC, we'd love to meet you! Come along to any one of our taster sessions in the first few weeks of term, and be sure to meet us at Fresher's fair (we'll be the one in the infamous Cambridge Blue kit with the wreaths on waving our banners proudly in the air!), or at one of our social events we'll be hosting especially for newcomers.</p>

            <!--More details about dates and times to come very soon, but in the meantime if you're interested, be sure to follow us on Instagram and Twitter, and like our Facebook page as well to hear about them first! Of course, we'd love to hear from you - contact one of the members of our committee or a squad leader if you want more information or have any questions.-->

        </div>
    </div>
    <div class="section-half-w">
        <div class="section-half bkg-black">
            <p>Specifically, if you would like to keep up to date with the latest goings-on with CUAC but do not want to join immediately, please register your details with Daisy at dei23@cam.ac.uk and we will keep you updated with our training schedule by email. As it may take a few days to register your details please check our club calendar regularly for upcoming training session, events and competitions.</p>

        </div>
        <div class="section-half" style="background: url(images/cuac-funny-faded.jpg) center/cover">
            
        </div>
    </div>

    

    @@include('../components/footer/_footer.html', {"footer-fact": "cuac is the oldest athletics club in the world"})

</body>
</html>
