{% extends "_layout.html" %}

{% block content %}
<div class="section-full">
    <h2>Training Calendar</h2>
    <iframe src="https://calendar.google.com/calendar/embed?src=cuac.athletics%40gmail.com&ctz=Europe/London" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
<div class="section-full bkg-light-teal">
    <h2>Upcoming Events</h2>
    <h5>Freshers Meet & Greet</h5>
    <p><strong>When?</strong></p>
    <p>sdfsdf</p>
    <p><strong>Where?</strong></p>
    <p>sdfsdf</p>
    <p><strong>The details</strong></p>
    <p>sdfsfdsdf</p>
</div>
{% endblock %}