<html>
<head>
    @@include('basic-layout.html')


</head>
<body>

   

</body>
<script>

</script>
<script>
// https://api.instagram.com/v1/users/self/media/recent?access_token=2252523010.3b3a18c.17d29cd12e77458d9f9c9a133d1bea1
    // var proxyUrl = 'cors-anywhere.herokuapp.com/';
    // proxyUrl = '';
    // var targetUrl = 'https://api.instagram.com/v1/users/self/media/recent?access_token=2988813421.1677ed0.12cd811992be440f979615d988f467eb';
    var request = new Request('https://api.instagram.com/v1/users/self/media/recent?access_token=2988813421.1677ed0.12cd811992be440f979615d988f467eb', {
        method: 'GET',
        mode: 'cors',
        redirect: 'follow',
        headers: new Headers({
            'Content-Type': 'text/plain',
            // 'Access-Control-Allow-Origin': 'http://localhost:81 | http://localhost:81/test3.html | localhost:81/*| *',
            // 'Access-Control-Allow-Methods': 'GET, POST, OPTIONS, PUT, PATCH, DELETE',
            
        })
    });

    // Now use it!
    fetch(request)
                .then(function (response) {
                        console.log('response', response);
                        console.log('header', response.headers.get('Content-Type'));
                        console.log('url', response.url);
                        console.log('status text', response.statusText);
                        return response.text();
                    }).then(function (text) {
                        console.log('got text', text);
        //            }).then(response => {
        //                return response.then(data => {
        //                    if (response.ok) {
        //                        return;
        //                    } else {
        //                        return Promise.reject({status: response.status, data});
        //                    }
        //                });
                    }).catch(function (ex) {
                        console.log('failed', ex);
                    });
</script>
</html>